<link rel="stylesheet" href="/stylesheets/chatBox.css">
<section>
  <div class="container py-5">

    <div class="row">

      <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0 border p-2 scroll-user-list gradient-custom-list">

        <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5>

        <div class="card mask-custom">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
              {{#each allUsers}}
              <li class="p-2 border-bottom chat-user" data-id="{{_id}}"
                style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a class="d-flex justify-content-between link-light">
                  <div class="d-flex flex-row">
                    <img src="{{path}}" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" height="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">{{name}}</p>
                      <p class="small text-white">{{#if lastMessage}}{{capital lastMessage.message}}{{else}}Start Chating{{/if}}
                      </p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-white mb-1">{{#if lastMessage}}{{ago lastMessage.createdOn}}{{/if}}</p>
                    {{#if unseenMessages}}
                    <span class="badge bg-danger float-end mt-2">{{unseenMessages}}</span>
                    {{/if}}
                  </div>
                </a>
              </li>
              {{/each}}

              {{!-- <li class="p-2">
                <a href="#!" class="d-flex justify-content-between link-light">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Brad Pitt</p>
                      <p class="small text-white">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-white mb-1">5 mins ago</p>
                    <span class="text-white float-end"><i class="fas fa-check" aria-hidden="true"></i></span>
                  </div>
                </a>
              </li> --}}
            </ul>

          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-7 col-xl-7 p-2 border gradient-custom-chat" id="chat-container">
        <h5 class="font-weight-bold mb-3 text-center text-white">Chat</h5>
        {{!-- chat content --}}
      </div>

    </div>

  </div>
</section>

<script src="/javascripts/users/chats.js"></script>