<div class="page-body">
    <div class="container-xl">
        <div class="card" style="height: 28rem">
            <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                <div class="divide-y">
                    <h4 class="card-title">Follow Requests</h4>
                    {{!-- Request list --}}
                    {{#each requests}}
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar rounded" style="background-image: url({{follower.path}})"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>{{follower.name.full}}</strong><span> requested to follow you.</span>
                                </div>
                                <div class="text-muted">{{ago createdOn}}</div>
                            </div>
                            {{#compare status "==" "requested"}}
                            <div class="col-auto">
                                <a class="btn btn-primary confirm" data-id="{{_id}}">
                                    Confirm
                                </a>
                                <a class="btn btn-outline-dark mx-1 reject" data-id="{{_id}}">
                                    Reject
                                </a>
                            </div>
                            {{else}}
                            <div class="col-auto">
                                <div class="p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l5 5l10 -10"></path>
                                    </svg>
                                    Request accepted.
                                </div>
                            </div>
                            {{/compare}}
                        </div>
                    </div>
                    {{/each}}
                    {{!-- Request list --}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/users/request.js" defer></script>