<script src="/dist/js/demo-theme.min.js?1674944402"></script>

<div class="page">
    <!-- Navbar -->
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Archived Posts
                        </h2>
                    </div>
                    <!-- Page title actions  search bar-->
                    {{!-- <div class="col-auto ms-auto d-print-none">
                        <div class="d-flex">
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="text-muted mt-1 mb-2">{{archived.length}} Posts</div>
                <div class="row row-cards">

                    {{#each archived}}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar me-3 rounded"
                                        style="background-image: url({{postBy.path}})"></span>
                                    <div>
                                        <div>{{postBy.name.full}}</div>
                                        <div class="text-muted">{{format createdOn}}</div>
                                    </div>
                                    <div class="ms-auto">
                                        <a class="text-muted" id="restore" data-id="{{_id}}" title="Restore Post">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                                height="24" viewBox="0 0 24 24" width="24">
                                                <g>
                                                    <rect fill="none" height="24" width="24" x="0" />
                                                </g>
                                                <g>
                                                    <g>
                                                        <g>
                                                            <path
                                                                d="M20.55,5.22l-1.39-1.68C18.88,3.21,18.47,3,18,3H6C5.53,3,5.12,3.21,4.85,3.55L3.46,5.22C3.17,5.57,3,6.01,3,6.5V19 c0,1.1,0.89,2,2,2h14c1.1,0,2-0.9,2-2V6.5C21,6.01,20.83,5.57,20.55,5.22z M12,9.5l5.5,5.5H14v2h-4v-2H6.5L12,9.5z M5.12,5 l0.82-1h12l0.93,1H5.12z" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="d-block"><img src="{{path}}" class="card-img-top" height="280"></a>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="h3 mb-1">{{capital title}}</div>
                                        <div class="text-muted">{{capital description}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/posts/restore.js" defer></script>
