<div class="modal-header">
    <h4 class="modal-title">Comments</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="divide-y">
                {{!-- one comment --}}
                {{#each comments}}
                <div class="specific_comment">
                    <div class="row">
                        <div class="col-auto">
                            {{!-- <span class="avatar">JL</span> --}}
                            <span class="avatar rounded" style="background-image: url({{users.path}})"></span>
                        </div>
                        <div class="col">
                            <div class="text-truncate">
                                <strong>{{users.name.full}}</strong> {{capitalize comment}}
                            </div>
                            <div class="text-muted">{{ago createdOn}}</div>
                        </div>
                        <div class="col-auto align-self-center">
                            {{#compare users._id "==" ../user._id}}
                            <a class="text-muted delete" data-id="{{_id}}" title="Delete">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-trash-x-filled" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16zm-9.489 5.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z"
                                        stroke-width="0" fill="currentColor"></path>
                                    <path
                                        d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z"
                                        stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </a>
                            {{/compare}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div>No comments yet !</div>
                {{/each}}
                {{!-- one comment --}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer mt-2">
    <div class="justify-content-start">
        <input size="59" type="text" class="form-control " id="comment">
    </div>
    <div class="justify-content-end">
        <a class="btn btn-primary add" id="add" data-id="{{id}}" >
            Add
        </a>
        <a class="btn btn-primary" data-bs-dismiss="modal">
            Close
        </a>
    </div>
</div>