<script src="/dist/js/demo-theme.min.js?1674944402"></script>

<div class="page">
    <!-- Navbar -->
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Saved Posts
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    {{!-- <div class="col-auto ms-auto d-print-none">
                        <div class="d-flex">

                            <input type="search" class="form-control d-inline-block w-9 me-3"
                                placeholder="Search user…" />
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="text-muted mt-1 mb-2">{{saved.length}} Posts</div>
                <div class="row row-cards">
                    {{#each saved}}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar me-3 rounded"
                                        style="background-image: url({{post.user.path}})"></span>
                                    <div>
                                        <div>{{post.user.name.full}}</div>
                                        <div class="text-muted">{{format createdOn}}</div>
                                    </div>
                                    <div class="ms-auto">
                                        {{!-- 644b5eb450063bd578e5d0b8 --}}
                                        {{!-- 644a098354f3789ff9e35004 --}}
                                        <a class="ms-3 text-muted save-post" data-id="{{post._id}}" title="Unsave Post">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
                                                width="24">
                                                <path d="M0 0h24v24H0z" fill="none" />
                                                <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                            </svg>&nbsp;
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="d-block"><img src="{{post.path}}" class="card-img-top" height="280"></a>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="h3 mb-1">{{capital post.title}}</div>
                                        <div class="text-muted">{{capital post.description}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/posts/saved.js" defer></script>